@model CinemaApplication.Models.movies

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>movies</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.salle.nom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.salle.nom)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.nom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nom)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.disponibilite)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.disponibilite)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.prix)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.prix)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.pays)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.pays)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.duree)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.duree)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.underAge)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.underAge)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.annee)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.annee)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
